<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
    <header th:replace="/block/header :: header"></header>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-lg-3"><!-- <h1>Список пользователей</h1> --></div>
        <div class="col-sm-9 col-lg-9"><a href="/admin/roles/new-role" class="c">Добавить новую роль</a></div>
    </div>
    <div class="row castom">

<!--                Меню-->
        <div th:replace="/block/menu :: menuAdmin"></div>

<!--            Основной контейнер-->
        <div class="col-sm-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Роль</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="role : ${roles}">
                    <tr>
                        <th scope="row"><a th:href="@{/admin/roles/{id}(id=${role.getId()})}" th:text="${role.getId()}"></a></th>
                        <td><a th:href="@{/admin/roles/{id}(id=${role.getId()})}" th:text="${role.getName()}"></a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>
</div>

<th:block th:replace="/block/footer :: script"></th:block>

</body>
</html>