<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
    <header th:replace="/block/header :: header"></header>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-lg-3"><!-- <h1>Список пользователей</h1> --></div>
        <div class="col-sm-9 col-lg-9"><a href="/admin/users/new-user" class="c">Добавить нового пользователя</a></div>
    </div>
    <div class="row castom">

<!--                Меню-->
        <div th:replace="/block/menu :: menuAdmin"></div>

<!--            Основной контейнер-->
        <div class="col-sm-9">

            <form th:method="post" th:action="@{/admin/users}" th:object="${user}">

                Введите адрес эл. почты:
                </p>
                <input type="email" name="email" required/>
                <div th:if="${#fields.hasErrors('email')}"></div>
                </p>

                Введите пароль:
                </p>
                <input type="password" name="password" required/>
                <div  th:if="${#fields.hasErrors('password')}"></div>
                </p>

                <input type="submit" value="Создать пользователя" />
            </form>

        </div>
    </div>

    <!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>
</div>

<th:block th:replace="/block/footer :: script"></th:block>

</body>
</html>