<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
<div class="container">

    <div class="row"  th:fragment="user">
        <div class="col-sm-6 col-lg-7"><h1>Профайл пользоватя</h1></div>
        <div th:replace="/block/header :: userNameAndLogout"></div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-lg-3"><!-- <h1>Список пользователей</h1> --></div>
        <div class="col-sm-9 col-lg-9"><a href="/admin/users/new-user" class="c">Добавить нового пользователя</a></div>
    </div>
    <div class="row castom">

<!--                Меню-->
        <div th:replace="/block/menu :: menuAdmin"></div>

<!--            Основной контейнер-->
        <div class="col-sm-9">

            <form th:method="post" th:action="@{/admin/users}" th:object="${user}">

                Введите логин:
                </p>
                <input type="text" name="login" required/>
                <div th:if="${#fields.hasErrors('login')}"></div>
                </p>

                Введите пароль:
                </p>
                <input type="password" name="password" required/>
                <div  th:if="${#fields.hasErrors('password')}"></div>
                </p>

                <input type="submit" value="Создать пользователя" />
            </form>

        </div>
    </div>

    <!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>

</div>
</body>
</html>