<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
<div class="container">

    <div class="row"  th:fragment="user">
        <div class="col-sm-6 col-lg-7"><h1>Профайл пользоватя</h1></div>
        <div th:replace="/block/header :: userNameAndLogout"></div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-lg-3"><!-- <h1>Список пользователей</h1> --></div>
        <div class="col-sm-9 col-lg-9"><a href="/admin/roles/new-role" class="c">Добавить новую роль</a></div>
    </div>
    <div class="row castom">

<!--                Меню-->
        <div th:replace="/block/menu :: menuAdmin"></div>

<!--            Основной контейнер-->
        <div class="col-sm-9">
            <form th:method="patch" th:action="@{/admin/roles/{id}(id=${role.getId()})}">

                ID: <th:block th:text="${role.getId()}"/>
                </p>

                Edit user role:
                </p>
                <input type="text" name="rolename" th:value="${role.getName()}" required/>
<!--                <div th:if="${#fields.hasErrors('rolename')}"></div>-->
                </p>

                <input type="submit" value="Сохранить" />
            </form>
        </div>
    </div>

    <!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>

</div>
</body>
</html>