<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:e-mail="http://www.w3.org/1999/xhtml">
<head th:replace="/block/head :: head"></head>
<body>
    <header th:replace="/block/header :: header"></header>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-lg-3"><!-- <h1>Список пользователей</h1> --></div>
        <div class="col-sm-9 col-lg-9"><a href="/admin/users/new-user" class="c">Добавить нового пользователя</a></div>
    </div>
    <div class="row castom">

<!--                Меню-->
        <div th:replace="/block/menu :: menuAdmin"></div>

<!--            Основной контейнер-->
        <div class="col-sm-9">
            <form th:method="patch" th:action="@{/admin/users/{id}(id = ${user.id})}" th:object="${user}">

                ID: <th:block th:text="${user.getId()}"></th:block>
                </p>

                Edit first name:
                <input type="text" name="firstname" th:value="${user.getFirstName()}" required/>
<!--                <div th:if="${#fields.hasErrors('firstname')}"></div>-->
                </p>

                Edit user e-mail:
                <input type="email" name="email" th:value="${user.getEmail()}" required/>
                <div th:if="${#fields.hasErrors('email')}"></div>
                </p>

                Edit user password:
                <input type="text" name="password" th:value="${user.getPassword()}" required/>
                <div th:if="${#fields.hasErrors('password')}"></div>
                </p>

                Edit user role:

                <p><select multiple size="3" name="addrole" required>
                    <th:block th:each="role : ${roles}">
                        <option th:value="${role.getName()}"><th:block th:text="${role.getName()}"></th:block></option>
                    </th:block>
                </select></p>

<!--                <div th:if="${#fields.hasErrors('addrole')}"></div>-->
                </p>

                <input type="submit" value="Сохранить" />
            </form>
        </div>
    </div>

    <!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>
</div>

<th:block th:replace="/block/footer :: script"></th:block>

</body>
</html>