<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
    <header th:replace="/block/header :: header"></header>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-lg-3"><!-- <h1>Список пользователей</h1> --></div>
        <div class="col-sm-9 col-lg-9"><a href="/admin/users/new-user" class="c">Добавить нового пользователя</a></div>
    </div>
    <div class="row castom">

<!--                Меню-->
        <div th:replace="/block/menu :: menuAdmin"></div>

<!--            Основной контейнер-->
        <div class="col-sm-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Пароль</th>
                    <th scope="col">Роль</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${users}">
                    <!-- Не работает onclick -->
<!--                    <a href="/admin/users/{id}(id=${user.getId()})">-->
                    <tr th:onclick="|loadContent('/admin/users/{id}(id=${user.getId()})}')|" onclick="window.location.href='/admin/users/{id}(id=${user.getId()})'">
                        <th scope="row"><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getId()}"></a></th>
                        <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getEmail()}"></a></td>
                        <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getPassword()}"></a></td>
                        <td>
                            <th:block th:each="role : ${user.roles}">
                                <a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${role.getName()}"></a>
<!--                                <th:block th:text="${role.getName()}"></th:block>-->
                            </th:block>
                        </td>
                    </tr>
<!--                    </a>-->
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>
</div>

<th:block th:replace="/block/footer :: script"></th:block>

</body>
</html>