<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
    <header th:replace="/block/header :: header"></header>

<div class="container-fluid">

    <div class="row flex-xl-nowrap pt-4">

<!--                Меню-->
        <div th:replace="/block/menu :: menuAdmin"></div>

<!--            Основной контейнер-->
        <div class="col-sm-9">
            <h1>Admin panel</h1>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="list-table-list" data-toggle="list" href="#list-users-table">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="list-form-list" data-toggle="list" href="#list-new-user">New user</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="tab-content" id="nav-tabContent">
<!--                        USERS TABLE-->
                        <div class="tab-pane fade show active" id="list-users-table" role="tabpanel" aria-labelledby="list-table-list">
                            <h4  class="list-group-item  border-0" style="background-color: #f7f7f7">Все пользователи</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Возраст</th>
                                    <th scope="col">Email</th>
                                    <!--                    <th scope="col">Пароль</th>-->
                                    <th scope="col">Роль</th>
                                    <th scope="col">Редактировать</th>
                                    <th scope="col">Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user : ${users}">
                                    <tr>
                                        <th scope="row"  th:text="${user.getId()}"></th>
                                        <td  th:text="${user.getFirstName()}"></td>
                                        <td  th:text="${user.getLastName()}"></td>
                                        <td  th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <!--                        <td th:text="${user.getPassword()}"></td>-->
                                        <td>
                                            <th:block th:each="role : ${user.getRoles()}">
                                                <th:block th:text="${role.getName()}"></th:block>
                                            </th:block>
                                        </td>
                                        <td>
<!--                                            <a class="btn btn-info" th:href="@{/admin/users/{id}/edit(id=${user.getId()})}" th:text="Изменить"></a>-->

                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" th:text="Изменить"></button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form th:method="patch" th:action="@{/admin/users/{id}/edit(id = ${user.getId()})}" th:object="${user}">
                                                            <div class="modal-body text-center">

                                                                    ID:
                                                                    </p>
                                                                    <input type="text"  name="name" th:value="${user.getId()}" readonly/>
                                                                    </p>

                                                                    Имя:
                                                                    </p>
                                                                    <input type="text" name="name" th:value="${user.getFirstName()}" required/>
                                                                    <!--                                    <div th:if="${#fields.hasErrors('name')}"></div>-->
                                                                    </p>

                                                                    Фамилия:
                                                                    </p>
                                                                    <input type="text" name="lastname" th:value="${user.getLastName()}" required/>
                                                                    <!--                                    <div th:if="${#fields.hasErrors('lastname')}"></div>-->
                                                                    </p>

                                                                    Возраст:
                                                                    </p>
                                                                    <input type="text" name="age" th:value="${user.getAge()}" required/>
                                                                    <!--                                    <div th:if="${#fields.hasErrors('age')}"></div>-->
                                                                    </p>

                                                                    E-mail:
                                                                    </p>
                                                                    <input type="email" name="email" th:value="${user.getEmail()}" required/>
                                                                    <div th:if="${#fields.hasErrors('email')}"></div>
                                                                    </p>

                                                                    Пароль:
                                                                    </p>
                                                                    <input type="password" name="password" required/>
                                                                    <div  th:if="${#fields.hasErrors('password')}"></div>
                                                                    </p>

                                                                    Роль:
                                                                    <p><select multiple size="3" name="addrole" required>
                                                                        <th:block th:each="role : ${roles}">
                                                                            <option th:value="${role.getName()}"><th:block th:text="${role.getName()}"></th:block></option>
                                                                        </th:block>
                                                                    </select></p>

<!--                                                                    <input type="submit" value="Сохранить" />-->

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                        <td>
                                            <form th:method="delete" actions="/admin/users/${user.getId()}">
                                                <input class="btn btn-danger" type="submit" value="Удалить"/>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>

<!--                        FORM ADD NEW USER-->
                        <div class="tab-pane fade" id="list-new-user" role="tabpanel" aria-labelledby="list-form-list">
                            <h4 class="list-group-item  border-0" style="background-color: #f7f7f7">Добавить нового пользователя</h4>
                            <div class="text-center">
                                <form th:method="post" th:action="@{/admin/users}" th:object="${user}">

                                    Введите имя:
                                    </p>
                                    <input type="text" name="name" required/>
<!--                                    <div th:if="${#fields.hasErrors('name')}"></div>-->
                                    </p>

                                    Введите фамилию:
                                    </p>
                                    <input type="text" name="lastname" required/>
<!--                                    <div th:if="${#fields.hasErrors('lastname')}"></div>-->
                                    </p>

                                    Введите возраст:
                                    </p>
                                    <input type="text" name="age" required/>
<!--                                    <div th:if="${#fields.hasErrors('age')}"></div>-->
                                    </p>

                                    Введите адрес эл. почты:
                                    </p>
                                    <input type="email" name="email" required/>
                                    <div th:if="${#fields.hasErrors('email')}"></div>
                                    </p>

                                    Введите пароль:
                                    </p>
                                    <input type="password" name="password" required/>
                                    <div  th:if="${#fields.hasErrors('password')}"></div>
                                    </p>

                                    Выберите роли:
                                    <p><select multiple size="3" name="addrole" required>
                                        <th:block th:each="role : ${roles}">
                                            <option th:value="${role.getName()}"><th:block th:text="${role.getName()}"></th:block></option>
                                        </th:block>
                                    </select></p>

                                    <input class="btn btn-success" type="submit" value="Создать пользователя" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>
</div>

<th:block th:replace="/block/footer :: script"></th:block>

</body>
</html>