<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
    <header th:replace="/block/header :: header"></header>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-lg-3"><!-- <h1>Список пользователей</h1> --></div>
        <div class="col-sm-9 col-lg-9"><a href="/admin/users/new-user" class="c">Добавить нового пользователя</a> <a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}" class="c">Редактировать</a></div>
    </div>

    <div class="row castom">

<!--                Меню-->
        <div th:replace="/block/menu :: menuAdmin"></div>

<!--            Основной контейнер-->
        <div class="col-sm-9">
            <table>
                <tr>
                    <td>Id</td>
                    <td th:text="${user.getId()}"></td>
                </tr>
                <tr>
                    <td>Логин</td>
                    <td th:text="${user.getEmail()}"></td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td th:text="${user.getPassword()}"></td>
                </tr>
                <tr>
                    <td>Роль</td>
                    <td>
                        <th:block th:each="role : ${user.roles}">
                            <p th:text="${role.getName()}"></p>
                        </th:block>
                    </td>
                </tr>
            </table>
            <form th:method="delete" actions="/admin/users/${user.getId()}">
                <input type="submit" value="Delete"/>
            </form>
        </div>
    </div>

    <!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>
</div>

<th:block th:replace="/block/footer :: script"></th:block>

</body>
</html>