<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/block/head :: head"></head>
<body>
    <header th:replace="/block/header :: header"></header>

<div class="container-fluid">

    <div class="row flex-xl-nowrap pt-4">

<!--                Меню-->
        <div th:replace="/block/menu :: ${menu.toString()}"></div>


<!--            Основной контейнер-->
        <div class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content">

<!--            <span sec:authentication="principal.authorities"></span>-->

<!--            <div class="row" sec:authorize="hasRole('ROLE_USER')">-->
<!--                <h2>This will only be displayed if authenticated user has role ROLE_USER.</h2>-->
<!--            </div>-->

<!--            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
<!--                This will only be displayed if authenticated user has role ROLE_ADMIN.-->
<!--            </div>-->




            <h4  class="list-group-item  border-0" style="background-color: #f7f7f7">User information-page</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Email</th>
                    <th scope="col">Роль</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"  th:text="${user.getId()}"></th>
                        <td  th:text="${user.getFirstName()}"></td>
                        <td  th:text="${user.getLastName()}"></td>
                        <td  th:text="${user.getAge()}"></td>
                        <td th:text="${user.getEmail()}"></td>
                        <td>
                            <th:block th:each="role : ${user.getRoles()}">
                                <th:block th:text="${#strings.substringAfter(role.getName(),'ROLE_')}"></th:block>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>
</div>

<th:block th:replace="/block/footer :: script"></th:block>

</body>
</html>