<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
    <header th:replace="/block/header :: header"></header>

<div class="container-fluid">

    <div class="row flex-xl-nowrap pt-4">

<!--                Меню-->
        <div th:replace="/block/menu :: menuUser"></div>


<!--            Основной контейнер-->
        <div class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content">
            Основной контейнер
            <p></p>
            <th:block th:each="m : ${msg}">
                <th:block th:text="${m}"></th:block>
            </th:block>
        </div>
    </div>

<!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>
</div>

<th:block th:replace="/block/footer :: script"></th:block>

</body>
</html>