<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>
<div class="container">

    <div class="row"  th:fragment="user">
        <div class="col-sm-6 col-lg-7"><h1>Профайл пользоватя</h1></div>
        <div th:replace="/block/header :: userNameAndLogout"></div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-lg-3"><!-- Костыль в виде отступа --></div>
        <div class="col-sm-9 col-lg-9"></div>
    </div>

    <div class="row castom">

<!--                Меню-->
        <div th:replace="/block/menu :: menuUser"></div>


<!--            Основной контейнер-->
        <div class="col-sm-9">
            Основной контейнер
            <p></p>
            <th:block th:each="m : ${msg}">
                <th:block th:text="${m}"></th:block>
            </th:block>
        </div>
    </div>

<!--    Подвал-->
    <div th:replace="/block/footer :: footer"></div>

</div>
</body>
</html>