<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>

    <h1>Создать нового пользователя</h1>

    <form th:method="POST" th:action="@{/users}" th:object="${user}">

        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name" required/>
        <div th:if="${#fields.hasErrors('name')}"></div>
        </p>

        <label for="surname">Фамилия:</label>
        <input type="text" th:field="*{surname}" id="surname" required/>
        <div  th:if="${#fields.hasErrors('surname')}"></div>
        </p>

        <label for="email">E-mail:</label>
        <input type="email" th:field="*{email}" id="email" required/>
        <div  th:if="${#fields.hasErrors('email')}"></div>
        </p>

        <input type="submit" value="Создать">
    </form>

</body>
</html>