<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/block/head :: head"></head>
<body>

    <h1>Сведения о пользователе</h1>
    <p th:text="${user.getId()}"></p>
    <p th:text="${user.getName()}"></p>
    <p th:text="${user.getSurname()}"></p>
    <p th:text="${user.getEmail()}"></p>
    <br/>
    <a th:href="@{/users/{id}/edit(id = ${user.getId()})}">Edit</a>

    <form th:method="DELETE" th:action="@{/users/{id}(id = ${user.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>

</body>
</html>