<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/block/head :: head"></head>
    <body>
    <div class="container-fluid">
        <div class="text-center">
            <h1>Form</h1>
            <form method="post" action="/login">
                <input type="text" name="j_username"/>
                <input type="password" name="j_password"/>
                <input type="submit" class="btn btn-success"/>
            </form>
        </div>

    </div>
        <th:block th:replace="/block/footer :: script"></th:block>
    </body>
</html>