<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/block/head :: head"></head>
    <body>
        <h1>Form</h1>
        <div  id="container">
            <form method="post" action="/login">
                <input type="text" name="j_username"/>
                <input type="password" name="j_password"/>
                <input type="submit"/>
            </form>
        </div>
        <th:block th:replace="/block/footer :: script"></th:block>
    </body>
</html>